.admin-page-content {
  position: relative;
  min-height: 100vh;
  padding: 40px;
  color: #fff;
  z-index: 1;

  overflow-x: hidden; 
}


.edit-fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
 
  box-sizing: border-box; 
}

.edit-fields input {
  width: 100%;
  padding: 12px 15px;
  background: #111827;
  border: 1px solid #374151;
  border-radius: 12px;
  color: #fff;
  outline: none;
 
  box-sizing: border-box; 
  font-size: 14px;
  display: block;
}

.save-btn {
  width: 100%;
  padding: 14px;
  margin-top: 8px;
  border-radius: 12px;
  box-sizing: border-box; 
  cursor: pointer;
  background: #3b82f6;
  color: #fff;
  border: none;
  font-weight: bold;
}

.save-btn:hover {
  background: #2563eb;
  transform: translateY(-2px);
}


.admin-page-content::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: 
    linear-gradient(rgba(128, 128, 128, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(128, 128, 128, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  mix-blend-mode: overlay;
  animation: bgPan 60s linear infinite;
  z-index: -1; 
  pointer-events: none;
}