.admin-layout {
  display: flex;
 
  min-height: 100vh;
  width: 100%;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
 
}

.admin-main-content {
  flex: 1;
 
  min-height: 100vh;
  
  overflow-y: auto; 
  position: relative;
 
  padding: 15px; 
  display: flex;
  flex-direction: column;
}


.content-overlay {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 25px;

  min-height: calc(100vh - 30px);
 
  padding: 20px; 
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
 
  box-sizing: border-box; 
}


@media (max-width: 768px) {
  .admin-main-content {
    padding: 10px;
  }
  .content-overlay {
    padding: 15px;
    border-radius: 15px;
  }
}


.admin-main-content::-webkit-scrollbar {
  width: 6px;
}
.admin-main-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.admin-main-content::-webkit-scrollbar-track {
  background: transparent;
}